*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
#hotRank{ margin:10px;}
#hotRank li{
    float: left;
    width: 260px;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    color: #626675;
    font-size: 14px;
    text-indent:2rem;
}
#hotRank li:hover{ color: #315efb;}
#hotRank .odd{ margin-right: 59px;}
#hotRank span{ padding: 5px 15px 5px 0; }
#hotRank span{ color: #9195a3;}
#hotRank li:nth-child(1) span{color: #fe2d46;}
#hotRank li:nth-child(2) span{ color: #f60;}
#hotRank li:nth-child(3) span{ color: #faa90e;}

#hotNews{ 
    /* margin-top:90px; */
    width: 260px;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    color: #626675;
    font-size: 14px;
}
#hotNews li{ position:relative; }
#hotNews li a{ text-indent:6rem; margin: 0 auto;}
#hotNews i{
    position: absolute;
    top: 15px;
    left: -12px;
    width: 5px;
    background-color: red;
    height: 5px;
}
/* 标签云 */
#tagCloud a{
    border:1px solid yellow;
}
#backTop{
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 40px;
    right: 15px;
    border: 1px solid #b39964;
    background: #fdfdfd;
    color: #b39964;
    font-size: 30px;
    box-sizing: border-box;
    padding-left: 13px;
    cursor: pointer;
}
#slider{
    overflow: hidden;
    margin: 40px auto;
}
#slider img{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;

    /* display: none; */
}
#blogList:hover{
    border: 1px solid #ccc;
    box-shadow: 3px 2px 5px 5px #ccc;
}
#Bh4:hover{
    border-bottom: 1px solid rgb(75, 118, 247);
    color: royalblue;
    cursor: pointer;
}